/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src: url("fonts/Helvetica Neue CE 75 Bold.ttf");
	fontFamily: helvetica;
	fontStyle: normal;
	fontWeight: normal;
	advancedAntiAliasing: true;
}

global {
	modalTransparencyBlur: 0;
	modalTransparency: 0;
	modalTransparencyColor: 0;
	modalTransparencyDuration: 0;
}

s|List #scroller 
{
	horizontalScrollPolicy: off;
}

s|List s|VScrollBar {
	skinClass: ClassReference("assets.skins.BimaVScrollBarSkin");
	fixedThumbSize:true;
}

s|Scroller s|HScrollBar {
	skinClass: ClassReference("assets.skins.BimaHScrollBarSkin2");
	fixedThumbSize:false;
}

s|Scroller s|VScrollBar {
	skinClass: ClassReference("assets.skins.BimaVScrollBarSkin");
	fixedThumbSize:false;
}

.customVScrollBarStyle
{
	thumb-skin: ClassReference("assets.skins.ThumbButtonSkin");
	track-skin: ClassReference("assets.skins.BimaScrollBarTrackSkin");
	down-arrow-skin: ClassReference("assets.skins.DownButtonSkin");
	up-arrow-skin: ClassReference("assets.skins.UpButtonSkin");
}

.customHScrollBarStyle
{
	thumb-skin: ClassReference("assets.skins.ThumbHButtonSkin");
	track-skin: ClassReference("assets.skins.BimaScrollBarTrackSkin");
	down-arrow-skin: ClassReference("assets.skins.DownButtonSkin");
	up-arrow-skin: ClassReference("assets.skins.UpButtonSkin");
}